# This workflow is meant to be used to check that all snippets are set

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: '14'
      - run: npm install -g compare-json
      - run: comparejson -e -s="/" ./src/**/snippet/*.json
