name: PHP CS Fixer
on:
    workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: .php-cs-fixer.cache
          key: ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-${{ github.sha }}
          restore-keys: |
            ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-

      - name: PHP-CS-Fixer
        uses: docker://shyim/php-cs-fixer:latest
        with:
          args: --diff --dry-run --rules @PER-CS2.0,@PER-CS2.0:risky --allow-risky=yes .
